<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Add a Job</title>
        <link rel="stylesheet" href="/css/basic.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    </head>
    <body>
        <div class="pure-g">
            <div class="pure-u-1">
                <img src="/images/logo.png" />
                <h1>Add a Job</h1>
[% $post_saved %]
[% IF ($post_saved==1)  %]
    <p>Your information was saved!</p>
[% END %]

<form method=post name=addjobs>
          <p>Agency: <input type=text name='agency'> </p>         
          <p>Job Title <input type=text name='title'> </p>
          <p>Description <input type=text name='description'> </p>
          <p>Category <input type=text name='category'> </p>
          <p>Skills <input type=text name='skills'> </p>
<input type=submit value='Submit'>     
 </form>

  [% c.req.headers.host %]

            </div>
        </div>
      
    </body>
</html>



